beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==3.0.4
coverage==5.3.1
idna==2.10
numpy==1.20.1
pandas==1.2.2
pony==0.7.14
prompt-toolkit==3.0.8
psycopg2==2.8.6
psycopg2-binary==2.8.6
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.0
six==1.15.0
soupsieve==2.2
urllib3==1.26.2
vk-api==11.9.1
wcwidth==0.2.5
